.bg{
    background-color: black;

}
.box{
    padding-left: 300px;
}
.bottomright {
    position: absolute;
    bottom: 150px;
    right: 16px;
    font-size: 18px;
 }
  
.bug{
    color: yellow;
}
.bottom{
    position: absolute;
    bottom: 40px;
    right: 16px;
    font-size: 18px;
}
.bottowleft{
    position: absolute;
    bottom: 40px;
    left: 16px;
    font-size: 18px;
}


